# Database
DATABASE_URL=postgresql://<user>:<password>@localhost:5432/<database>?schema=public

# Redis
REDIS_PORT=6379
REDIS_URL=redis://localhost:6379

# Auth
JWT_SECRET=<your-jwt-secret-here>

# App
PORT=3001
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

# Web
NEXT_PUBLIC_API_URL=http://localhost:3001/api/v1
