# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.pnpm-debug.log*

# Dependencies
node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Build and Outputs
dist
dist-ssr
out/
build/
*.tsbuildinfo

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Next.js
.next/

# NestJS
# (dist is already covered above)

# Env
.env
.env.*
.env.local
!.env.example
!.env.local.example

# Turborepo
.turbo

# Coverage
coverage

# Misc
.vercel
*.pem
